<div class="container mt-3">
  
  <ul class="nav nav-pills mb-3">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">プロフィール</a>
    </li>
    <li class="nav-item">
      <%= link_to "アカウント", users_account_path, class: "nav-link" %>
    </li>
  </ul>

  <h2><%= current_user.name %>のプロフィール</h2>

  <div>
    <div>
      写真が入るよ
    </div>

    <div>
      <div>
        <div>
          <strong>アカウント登録日</strong>
        </div>
        <div>
          <%= I18n.l(@user.created_at, format: :full_date) %>
        </div>
      </div>

      <div>
        <div>
          <strong>自己紹介</strong>
        </div>
        <div>
          <p><%= @user.about %></p>
        </div>
      </div>
    </div>

  </div>

</div>